@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 29 185 224;

    --color-error: 239 68 68;
    --color-success: 9 190 13;

    --color-background: 30 33 37; /* #1E2125 */
    --color-text: 255 255 255; /* #FFFFFF */

    --vh: 1vh;
    --header-height: 5rem;
  }
}

body {
  font-size: 16px;
  @apply bg-background text-text;
}

.container {
  @apply max-w-[90rem] px-[1rem] md:px-[2rem] mx-auto;
}
